* {
    box-sizing: border-box;
    margin: 0;
    color: #F5F5F5;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #3C6997;
    background-image: linear-gradient(90deg, #985277, #4381C1);
}

h1, h2, .title {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    height: 70px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1250px;
}

.header-container .logo {
    height: 40px;
    margin: 0 10px 0 25px;
}

.header-container .logo img {
    height: 100%;
}

.header-container .title {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.search {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 25px;
    background-color: #141414;
    height: 60px;
    border-radius: 10px;
}

.input-container {
    display: flex;
    flex-grow: 1;
    padding: 0 20px;
}

.input-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 25px;
}

.input-container i {
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #985277;
    width: 100px;
    height: 60px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: all .2s ease;
}

.button-container:hover {
    background-color: #379634;
}

.jobs-list {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 25px;
}

.jobs-list h1 {
    margin-left: 25px;
    font-size: 20px;
}

.jobs-container {
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
}

.job-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    row-gap: 10px;
    background-color: #141414;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s ease;
}

.job-card:hover {
    transform: scale(1.05);
    background-color: #1A1B25;
}

.job-card h2 {
    font-size: large;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.roleName h2 {
    font-size: 16px;
}

.description {
    height: 98px;
    overflow: hidden;
    font-size: 14px;
    color: #858585;
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #525252;
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s ease;
}

.button:hover {
    background-color: #379634;
}

.apply-now {
    background-color: #985277;
    margin-right: 15px;
}

@media screen and (min-width: 600px) {
    .jobs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 930px) {
    .jobs-container {
        grid-template-columns: repeat(3, 1fr);
    }
}